{{ define "main" }}

<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading" style="padding-bottom: 0px;">
          <h2>{{ .Title | markdownify }}</h2>
        </div>
      </div>
    </div>
    <div class="pushin">
      <div class="pushin-scene">
        <div class="pushin-layer">
          <img height="100%" src="/images/research-themes/all-themes.png" />
        </div>
        {{ range $index, $element := .Pages }}
        <div class="pushin-layer">
          <img height="40%" src="{{ .Params.image | absURL }}" />
          <div class="centered">
            {{ .Content }}
            <a href="/tags/{{ index .Params.reftags 0 }}" class="btn btn-main btn-main-sm">View Projects</a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}