{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      {{ with .Params.office }}
      <div class="col-lg-5 col-sm-6 mb-5">
        <h2 class="font-weight-bold mb-4">{{ .title | markdownify }}</h2>
        <p>{{ .desc | markdownify }}</p>
        <ul class="list-unstyled contact-list">
          {{with .address | markdownify}} <li class="mb-3"><a href="https://goo.gl/maps/MSGA3qZUNz2uH4fv8" target="_blank"><i class="tf-ion-ios-location mr-2"></i>
            {{ . }}</a></li>{{ end }}
          {{with .email}} <li class="mb-3"><a href="mailto:{{ . }}"><i class="tf-ion-email mr-2"></i>
            {{ . }}</a></li>{{end }}
          {{with .mobile}} <li class="mb-3"><a href="tel:{{ . }}"><i class="tf-ion-ios-telephone mr-2"></i>
            {{ . }}</a></li>{{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
    <div id="basicMap"></div>
  </div>
</section>

{{ end }}