
{{ define "main" }}

{{ partial "ticker.html" . }}

{{ partial "carousel.html" . }}

  {{- partial "banner.html" . }}

  {{- partial "features.html" . }}

  {{- partial "promo.html" . }}

  {{- partial "about-product.html" . }}

  {{- partial "products.html" . }}

  {{- partial "subscription.html" . }}

  {{- partial "activities.html" . }}

  <section class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        {{- partial "news-home.html" . }}
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        {{- partial "events-home.html" . }}
      </div>
    </div>
  </section>

{{ end }}