<style>

  .carousel-inner {
	width: 100%;
	display: inline-block;
	position: relative;
	padding-top: 43.25%;
	display: block;
	content: "";
}

.carousel-item {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: skyblue;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.caption {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translateX(-50%) translateY(-50%);
	width: 60%;
	z-index: 9;
	margin-top: 20px;
	text-align: center;
  background-color: #36454F;
  opacity: 80%;
}
.caption h1 {
  color: #fff;
	font-size: 52px;
	font-weight: 700;
	margin-bottom: 23px;
  opacity: 100%;
}
.caption h2 {
  color: rgba(255,255,255,.75);
	font-size: 26px;
	font-weight: 300;
}
/* Tablet styles */
@media only screen and (max-width: 768px) {
	.caption {
		width: 80%;
	}

	.caption h1 {
		font-size: 42px;
		margin-bottom: 15px;
	}

	.caption h2 {
		font-size: 22px;
	}
}

/* Mobile styles */
@media only screen and (max-width: 480px) {
	.caption {
		width: 70%;
		height: 60%;
	}

	.caption h1 {
		font-size: 16px;
		margin-bottom: 10px; /* Adjusted margin */
		line-height: 1.2; /* Adjusted line height */
	}

	.caption h2 {
		font-size: 10px;
	}

.carousel-indicators .active {
  color: #ffffff85;
}
}
  </style>

<div id="carousel" class="carousel slide" data-ride="carousel">

  {{ $eventsCount := len (where .Site.RegularPages "Type" "events") }}
  <ol class="carousel-indicators">
    {{/* Loop through each event to create corresponding indicators, limited to the first 3 */}}
    {{ range $index, $ := seq 3 }}
    <li data-target="#carousel" data-slide-to="{{ $index }}" class="{{ if eq $index 0 }}active{{ end }}"></li>
    {{ end }}
  </ol>

  <div class="carousel-inner" role="listbox">
    {{ $events := where .Site.RegularPages "Type" "events" | first 3 }}
    {{/* Loop through each event and create carousel items */}}
    {{ range $index, $event := $events }}
    <div class="carousel-item{{ if eq $index 0 }} active{{ end }}" style="background-image: url('{{ $event.Params.image }}');">
      <div class="caption">
        <h1>{{ $event.Params.title }}</h1>
        <h2>{{ dateFormat "Jan 2, 2006" $event.Params.date }}</h2>
      </div>
    </div>
    {{ end }}
  </div>

  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>



