<style>
.carousel-container {
    margin: auto;
    position: relative;
    overflow: hidden;
}

/* Media query for desktop devices with a minimum width of 1024px */
@media only screen and (min-width: 1024px) {
    .carousel-container {
      max-height: 25%;
      max-width: 77%;

    }
}

   
    .carousel-item  {
      position: relative;
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out;
}
.carousel-item.active {
  display: block;
}
.carousel-caption
{
  background-color: #36454F;
  opacity: 80%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px; 
}

  </style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div id="ImageCarouselCSS" class="carousel slide carousel-container" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    </ol>
  <div class="carousel-inner inner-box">
    {{ $events := where .Site.RegularPages "Type" "events" | first 3 }}
    {{ range $index, $event := $events }}
    <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
      <div class="row col-lg-12 justify-content-center landing-card">
        <div class="col-lg-6 col-md-6 col-sm-12 align-items-center">
          <img src="{{ $event.Params.image }}" class="d-block w-100">
          <div class="carousel-caption">
            <h1>{{ $event.Params.title }}</h1>
            <h5>{{ dateFormat "Jan 2, 2006" $event.Params.date }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
    {{- end }}

    {{ $news := where .Site.RegularPages "Type" "news" | first 3 }}
    {{ range $index, $new := $news }}
    <div class="carousel-item">
      <div class="row col-lg-12 justify-content-center landing-card">
        <div class="col-lg-6 col-md-6 col-sm-12 align-items-center">
          <img src="{{ $new.Params.image }}" class="d-block w-100">
          <div class="carousel-caption">
            <h1>{{ $new.Params.title }}</h1>
            <h5>{{ dateFormat "Jan 2, 2006" $new.Params.date }}</h5>
          </div>
        </div>
      </div>
    </div>
    {{- end }}
    <div class="carousel-item">
      <div class="row col-lg-12 justify-content-center landing-card">
        <div class="col-lg-6 col-md-6 col-sm-12 align-items-center">
          <img src="https://images.unsplash.com/photo-1505373877841-8d25f7d46678?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1112&q=80">
          <div class="carousel-caption">
            <a href="research/" style="text-decoration:none !important; color:white !important;">
              <h1>Research</h1>
            </a>
        </div>
      </div>
    </div>
      <div class="carousel-item">
        <div class="row col-lg-12 justify-content-center landing-card">
          <div class="col-lg-6 col-md-6 col-sm-12 align-items-center">
            <img src="https://images.unsplash.com/photo-1503428593586-e225b39bddfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
            <div class="carousel-caption">
              <a href="projects/" style="text-decoration:none !important; color:white !important;">
                <h1>Projects</h1>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row col-lg-12 justify-content-center landing-card">
          <div class="col-lg-6 col-md-6 col-sm-12 align-items-center">
            <img src="https://img.freepik.com/free-photo/teamwork-making-online-blog_53876-94868.jpg?t=st=1709032238~exp=1709035838~hmac=eaeccc9472faa23bda844e9433b6cfecd9b8118b18a3a95a737b8cb004843329&w=1380">
          <div class="carousel-caption">
            <a href="blogs/" style="text-decoration:none !important; color:white !important;">
              <h1>Blogs</h1>
            </a>
          </div>
        </div>
      </div>
  <a class="carousel-control-prev arrow" href="#ImageCarouselCSS" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next arrow" href="#ImageCarouselCSS" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>




