<style>
  .carousel-indicators {
  bottom: -15vh !important;
}

</style>
<section class="carousel-section">
    <div id="mycarousel">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {{ $index := 0 }}
			{{ range (where .Site.RegularPages "Type" "events" | first 3 ) }}
            <li data-target="#carousel" data-slide-to="{{ $index }}" class="{{ if eq $index 0 }}active{{ end }}"></li>
            {{ $index = add $index 1 }}
            {{ end }}
        </ol>
        <div class="carousel-inner">
            {{ $index := 0 }}
            {{ range (where .Site.RegularPages "Type" "events" | first 3 ) }}
          <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
            <div class="container">
              <div class="row">
                <div class="col-md-6 text-center mb-5 mb-md-0">
                  <img class="img-fluid"  width="100%" src="{{ .Params.image }}">
                </div>
                <div class="col-md-6 align-self-center text-center text-md-left">
                  <div class="block">
                    <h1 class="font-weight-bold mb-4 font-size-60">{{ .Params.title }}</h1>
                    <p class="mb-4">{{ dateFormat "Jan 2, 2006" .Params.date }}</p>
                    <a href="{{ .Params.link }}" class="btn btn-main">Read More</a>
                  </div>
                </div>
              </div>
            </div>
            {{ $index = add $index 1 }}
            {{ end }}
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>