

<style>
    #ticker {
        overflow: hidden;
        height: 40px; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        background-color: #f4f4f4;
    }
    .ticker-wrapper {
        width: 100%; 
        overflow: hidden; 
    }
    .ticker-list {
        list-style-type: none;
        padding-left: 0;
        display: flex; 
        margin: 0; 
        justify-content: center; 
        animation: ticker 15s infinite linear; 
    }
    .ticker-item {
        margin-right: 10px; 
        font-size: 150%;
        font-weight: bold;
        white-space: nowrap;
        text-align: center;
    }
    .ticker-item a {
        text-decoration: none;
        color: inherit;
    }

    .ticker-item a:hover {
        color: blue; 
    }

    @media only screen and (max-width: 768px) {
        #ticker {
            height: auto; 
            padding: 10px; 
        }
        .ticker-item {
            margin-right: 10px; 
            font-size: 100%; 
        }
    }

    @keyframes ticker {
    100% {
        transform: translateX(-100%);
    }
}

.ticker-list {
    white-space: nowrap;
    animation: ticker-animation linear infinite;
}

@keyframes ticker-animation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
</style>

<div id="ticker">
    <div class="ticker-wrapper">
        <ul class="ticker-list">
            {{ $announcements := where .Site.RegularPages "Type" "announcements" | first 3 }}
            {{ range $index, $element := $announcements }}
                <li class="ticker-item">
                    <a href="{{ $element.Params.link }}">{{ $element.Params.title }}</a>
                </li>
                <span class="separator" style="color: navy; font-weight: bold;"> | &nbsp; </span>
            {{ end }}
        </ul>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   function getBrowser() {
    const agent = navigator.userAgent.toLowerCase();
    if (agent.indexOf('firefox') !== -1) {
        return 'firefox';
    } else {
        return 'other';
    }
}

function isMobile() {
    return /Mobi|Android/i.test(navigator.userAgent);
}

function Marquee(tickerSelector) {
    const browser = getBrowser();
    const mobile = isMobile();
    let speed;

    if (mobile) {
        speed = 70;
    } else {
        speed = 40;
    }

    const ticker = document.querySelector(tickerSelector);
    const list = ticker.querySelector('.ticker-list');
    const clone = document.createElement('ul');
    
    clone.classList.add('ticker-list');
    clone.innerHTML = list.innerHTML; // Clone the list's content

    list.appendChild(clone); // Clone the list for seamless scrolling

    const contentWidth = list.scrollWidth / 2; // Width of the original list

    list.style.animationDuration = `${contentWidth / speed}s`;
}

window.addEventListener('load', function() {
    Marquee('#ticker'); // Adjust speed is determined within the function
});
</script>
    
    
    
    




