{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.ticker.enable }}
{{- with $data.homepage.ticker }}

<style>
    #ticker {
        overflow: hidden;
        height: 40px; /* Adjust height as needed */
        display: flex; /* Use flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        background-color: #f4f4f4;
    }
    .ticker-wrapper {
        width: 100%; /* Ensure ticker takes full width */
        overflow: hidden; /* Hide overflowing content */
    }
    .ticker {
        list-style-type: none;
        padding-left: 0;
        display: flex; /* Use flexbox for horizontal layout */
        margin: 0; /* Remove default margin */
    }
    .ticker-item {
        margin-right: 20px; /* Adjust spacing between items */
        font-size: 150%; /* Increase font size by 50% */
        font-weight: bold; /* Apply bold font style */
        white-space: nowrap; /* Prevent line breaks */
    }
    .ticker-item a {
        text-decoration: none;
        color: inherit;
    }

    .ticker-item a:hover {
        color: blue; /* Change color to blue on hover */
    }

    /* Responsive adjustments */
    @media only screen and (max-width: 768px) {
        #ticker {
            height: auto; /* Adjust height to fit content */
            padding: 10px; /* Add padding for better spacing */
        }
        .ticker-item {
            margin-right: 10px; /* Reduce spacing between items */
            font-size: 100%; /* Reset font size */
        }
    }
</style>



<div id="ticker" class="ticker-wrapper">
    <ul class="ticker">
        {{ range .ticker_items }}
        <li class="ticker-item"><a href="{{ .link }}">{{ .item }}</a></li>
        {{ end }}
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        function tick() {
            $('#ticker ul').animate({marginLeft: '-=5px'}, 20, function(){
                if ($(this).css('margin-left').replace("px", "") < -$(this).width()) {
                    $(this).css({marginLeft: 0}).find('li:first').appendTo(this);
                }
            });
        }
        setInterval(function(){ tick(); }, 50); // Adjust the interval as needed
    });
</script>

{{ end }}
{{ end }}