{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold">{{.Title}}</h1>
      </div>

      <!-- Principal Investigators -->
      <div class="col-12 text-center mb-3">
        <h2 class="font-weight-bold">Principal Investigators</h2>
      </div>
      {{ range (where .Site.RegularPages "Section" "people") }}
      {{ if eq .Params.type "head" }}
      <div class="people">
        <div>
          <a href="{{.Permalink}}"><img width="230px" height="250px" src="{{ .Params.image }}" alt="{{.Title}}"></a>
        </div>
        <div>
        <h4 class="mb-2"><a href="{{.Permalink}}" class="link-title">{{.Title}}</a></h4>
        <p style="margin-top: 0px;"><strong>Head of the Centre</strong></p>
        <p>{{.Params.designation}}<br>{{.Params.affiliation | markdownify}}</p>
        </div>
      </div>
      {{ end }}
      {{ if eq .Params.type "core" }}
      <div class="people">
        <div>
          <a href="{{.Permalink}}"><img width="230px" height="250px" src="{{ .Params.image }}" alt="{{.Title}}"></a>
        </div>
        <div>
        <h4 class="mb-2"><a href="{{.Permalink}}" class="link-title">{{.Title}}</a></h4>
        <p>{{.Params.designation}}<br>{{.Params.affiliation | markdownify}}</p>
        </div>
      </div>
      {{ end }}
      {{ end }}

      <!-- Advisors -->
      <div class="col-12 text-center mb-3">
        <h2 class="font-weight-bold">Advisors</h2>
      </div>
      {{ range (where .Site.RegularPages "Section" "people") }}
      {{ if eq .Params.type "advisor" }}
      <div class="people">
        <div>
          <a href="{{.Permalink}}"><img width="230px" height="250px" src="{{ .Params.image }}" alt="{{.Title}}"></a>
        </div>
        <div>
        <h4 class="mb-2"><a href="{{.Permalink}}" class="link-title">{{.Title}}</a></h4>
        <p>{{.Params.designation}}<br>{{.Params.affiliation | markdownify}}</p>
        </div>
      </div>
      {{ end }}
      {{ end }}

      <!-- Collaborators -->
      <div class="col-12 text-center mb-3">
        <h2 class="font-weight-bold">Collaborators</h2>
      </div>
      {{ range (where .Site.RegularPages "Section" "people") }}
      {{ if eq .Params.type "collaborator" }}
      <div class="people">
        <div>
          <a href="{{.Permalink}}"><img width="230px" height="250px" src="{{ .Params.image }}" alt="{{.Title}}"></a>
        </div>
        <div>
        <h4 class="mb-2"><a href="{{.Permalink}}" class="link-title">{{.Title}}</a></h4>
        <p>{{.Params.designation}}<br>{{.Params.affiliation | markdownify}}</p>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

{{ end }}