{{ define "main" }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HW4VEP0VKF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HW4VEP0VKF');
</script>
<style>
    .heading {
    padding-bottom: 31px !important;
  }
  .card-item {
    margin-right:1%;
  
}
</style>


<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading">
            <h2>{{ .Title | markdownify }}</h2>
          </div>
        </div>
      </div>

      <div class="mb-40" style="display: flex; flex-wrap: wrap;">
        <div class="row">
          {{ range (where .Site.RegularPages "Section" "projects") }}

          <div class="card mb-3 card-item" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ .Params.image | absURL }}" class="card-img" alt="Card Image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{.Params.title}}</h5>
                  
                  {{ if .Params.link }}
                  <a href="{{ .Params.link }}" class="btn btn-primary">View</a>
                  {{ else }}
                  <a href="{{ .Permalink  }}" class="btn btn-primary">View</a>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
          {{ end }}
</section>

{{ end }}