{{ define "main" }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HW4VEP0VKF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HW4VEP0VKF');
</script>


<style>
    .heading
    {
        padding-bottom: 31px !important;
    }
  .breadcrumb
  {
    padding: .6rem 1.2rem;
line-height: 2.1rem;
font-size: 1.2rem;
color: #000;
  }

  @media only screen and (min-width: 750px) and (max-width: 1170px)
  {

.navnav
{
  text-align:center;
  padding-bottom:5%;
}

  }

@media only screen and (min-width:1170px)
{


}
#myTabContent {
    display: flex;
    justify-content: center;
    text-align: center;
}
#myTab
{
  display: flex;
    justify-content: center;
    text-align: center;

}
.navig {
    border: none !important;
    border-bottom:none !important;
  }
  .link-nav:active {
    border:none !important;
  }
  .link-nav {
    border:none !important;
  }
  @media (max-width: 768px) {
    .nav-tabs {
      flex-wrap: wrap;
      justify-content: space-around; /* Center tabs */
      height: auto !important;
    }
    .nav-item
    {
      width: 100% !important;
    }
  
    .nav-link {
      padding: 10px 0 !important; 
      white-space: normal !important; 
      overflow: visible !important; 
      text-overflow: clip !important; 
    }
  }

  </style>

<section class="section">
    <div class="container">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color:white !important">
                    <li class="breadcrumb-item"><a href="/" style="text-decoration: none !important">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Materials</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>{{ .Title | markdownify }}</h2>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs navig" id="myTab" role="tablist">
                <li class="nav-item navnav" role="presentation">
                    <a class="nav-link text-center link-nav active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
                </li>
                <li class="nav-item navnav" role="presentation">
                    <a class="nav-link text-center link-nav" id="papers-tab" data-toggle="tab" href="#papers" role="tab" aria-controls="papers" aria-selected="false">Papers</a>
                </li>
                <li class="nav-item navnav" role="presentation">
                    <a class="nav-link text-center link-nav" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-selected="false">Code</a>
                </li>
                <li class="nav-item navnav" role="presentation">
                    <a class="nav-link text-center link-nav" id="video-tab" data-toggle="tab" href="#videos" role="tab" aria-controls="videos" aria-selected="false">Videos</a>
                </li>
                <li class="nav-item navnav" role="presentation">
                    <a class="nav-link text-center link-nav" id="presentation-tab" data-toggle="tab" href="#presentations" role="tab" aria-controls="presentations" aria-selected="false">Presentations</a>
                </li>
                <li class="nav-item navnav" role="presentation">
                    <a class="nav-link text-center link-nav" id="dataset-tab" data-toggle="tab" href="#dataset" role="tab" aria-controls="dataset" aria-selected="false">Datasets</a>
                </li>
            </ul>
            <br>
            <br>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                    <div class="row">
                        {{ range (where .Site.RegularPages "Section" "materials") }}
                            <div class="col-md-6 text-center mb-40 mb-lg-40">
                                <a href="{{ .Permalink }}">
                                    <img class="mb-40" height="300rem" width="90%" src="{{ .Params.image | absURL }}" alt="">
                                </a>
                                <div class="contents">
                                    <a href="{{ .Permalink }}" style="text-decoration: none;">
                                        <h4 class="subheading">{{ .Title | markdownify }}</h4>
                                    </a>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>
                <div class="tab-pane fade show active" id="papers" role="tabpanel" aria-labelledby="papers-tab">
                    <div class="row">
                        {{ range (where .Site.RegularPages "Section" "materials") }}
                            {{ if eq .Params.type "papers" }}
                                <div class="col-md-6 text-center mb-40 mb-lg-40">
                                    <a href="{{ .Permalink }}">
                                        <img class="mb-40" height="300rem" width="90%" src="{{ .Params.image | absURL }}" alt="">
                                    </a>
                                    <div class="contents">
                                        <a href="{{ .Permalink }}" style="text-decoration: none;">
                                            <h4 class="subheading">{{ .Title | markdownify }}</h4>
                                        </a>
                                    </div>
                                </div>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
                <div class="tab-pane fade" id="code" role="tabpanel" aria-labelledby="code-tab">
                    <div class="row">
                        {{ range (where .Site.RegularPages "Section" "materials") }}
                            {{ if eq .Params.type "code" }}
                                <div class="col-md-6 text-center mb-40 mb-lg-40">
                                    <a href="{{ .Permalink }}">
                                        <img class="mb-40" height="300rem" width="90%" src="{{ .Params.image | absURL }}" alt="">
                                    </a>
                                    <div class="contents">
                                        <a href="{{ .Permalink }}" style="text-decoration: none;">
                                            <h4 class="subheading">{{ .Title | markdownify }}</h4>
                                        </a>
                                    </div>
                                </div>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
                <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="video-tab">
                    <div class="row">
                        {{ range (where .Site.RegularPages "Section" "materials") }}
                            {{ if eq .Params.type "videos" }}
                                <div class="col-md-6 text-center mb-40 mb-lg-40">
                                    <a href="{{ .Permalink }}">
                                        <img class="mb-40" height="300rem" width="90%" src="{{ .Params.image | absURL }}" alt="">
                                    </a>
                                    <div class="contents">
                                        <a href="{{ .Permalink }}" style="text-decoration: none;">
                                            <h4 class="subheading">{{ .Title | markdownify }}</h4>
                                        </a>
                                    </div>
                                </div>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>d
                <div class="tab-pane fade" id="presentations" role="tabpanel" aria-labelledby="presentation-tab">
                    <div class="row">
                        {{ range (where .Site.RegularPages "Section" "materials") }}
                            {{ if eq .Params.type "presentations" }}
                                <div class="col-md-6 text-center mb-40 mb-lg-40">
                                    <a href="{{ .Permalink }}">
                                        <img class="mb-40" height="300rem" width="90%" src="{{ .Params.image | absURL }}" alt="">
                                    </a>
                                    <div class="contents">
                                        <a href="{{ .Permalink }}" style="text-decoration: none;">
                                            <h4 class="subheading">{{ .Title | markdownify }}</h4>
                                        </a>
                                    </div>
                                </div>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
                <div class="tab-pane fade" id="dataset" role="tabpanel" aria-labelledby="dataset-tab">
                    <div class="row">
                        {{ range (where .Site.RegularPages "Section" "materials") }}
                            {{ if eq .Params.type "dataset" }}
                                <div class="col-md-6 text-center mb-40 mb-lg-40">
                                    <a href="{{ .Permalink }}">
                                        <img class="mb-40" height="300rem" width="90%" src="{{ .Params.image | absURL }}" alt="">
                                    </a>
                                    <div class="contents">
                                        <a href="{{ .Permalink }}" style="text-decoration: none;">
                                            <h4 class="subheading">{{ .Title | markdownify }}</h4>
                                        </a>
                                    </div>
                                </div>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
  </section>
  {{ end }}
  
