{{ define "main" }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HW4VEP0VKF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HW4VEP0VKF');
</script>

<style>
  .breadcrumb {
    padding: .6rem 1.2rem;
    line-height: 2.1rem;
    font-size: 1.2rem;
    color: #000;
  }

  .embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #f0f0f0;
  }

  .embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
</style>

<section class="section">
  <div class="container">
    <div class="embed-container">
      <iframe src="https://cerai.substack.com/" frameborder="0"></iframe>
    </div>
  </div>
</section>

{{ end }}


